<div id="<%= dom_id idea %>">
  <p>
    <strong>Name:</strong>
    <%= idea.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= idea.description %>
    another 
  </p>

  <p>
    <strong>Picture:</strong>
    <%= idea.picture %>
    some 
  </p>

</div>
